.graphs
  - n = 0
  / mod the sorting to be stable, so we only move down hosts to the top
  - WATCHERS.sort_by{|w| w.up? ? [1, n+=1] : [0, n+=1] }.each do |w|
    .watcher{ class: w.up? ? '' : 'down'}
      .desc
        %h2= w.name
        %span.number== #{w.number}

      .graph
        .graph-container{ "data-unit" => "ms", "data-string" => w.checks.map{|s| [s[0].to_f, (s[1]==:down ? 0.0 : s[1].main_num.to_f)] }.to_json }


      - unless w.sparklines.empty?
        .sparklines
          - w.sparklines.each do |l|
            .line
              %span.sparkline-title
                = l[0]
                %strong= l[1].last
              %span.sparkline= l[1].join(",")

%footer
  Running on
  %em= `hostname`
  as
  %em= Etc.getlogin



